<body class="bg-light">
    <div class="container" *ngIf="!loggedIn">
        <div class="row justify-content-center align-items-center vh-100">
            <div class="col-md-6">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"
                    class="p-4 rounded border shadow">
                    <div
                        class="d-flex align-items-center justify-content-between mb-4">
                        <h2 class="m-0">Login</h2>
                        <img src="assets/logo.png" alt="Logo"
                            height="100">
                    </div>
                    <div class="mb-3">
                        <label for="username" class="form-label">Usuário</label>
                        <input type="text" id="username"
                            formControlName="username" class="form-control"
                            placeholder>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Senha</label>
                        <input type="password" id="password"
                            formControlName="password" class="form-control"
                            placeholder>
                    </div>
                    <button type="submit"
                        class="btn btn-primary d-flex align-items-center justify-content-center">
                        <i class="fas fa-lock me-2"></i> Entrar
                    </button>
                    <div *ngIf="loginForm.invalid && submitted"
                        class="text-danger mt-2">Usuário ou senha inválidos</div>
                </form>
            </div>
        </div>
    </div>
</body>
